<!DOCTYPE html>
<html>
  <head>
    <title>RedBeans</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/docs/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/docs/dist/css/bootstrap.min.css">
    <!--STYLES END-->
    <script src='http://player.ooyala.com/v3/60d2e20d661147ae85ae50f8902283bf'></script>
  </head>

  <body>
    <div id="navigation">
      <div id="web-title" class="wrapper">
        <h1>RedBeans</h1>
      </div>
    </div>
    <div id="container">
      <div id="content-wrapper" class="wrapper">
        <div id="content">
          <%- body %>
        </div>
      </div>
    </div>


    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery/src/sizzle/dist/sizzle.min.js"></script>
    <script src="/node_modules/lodash/dist/lodash.compat.min.js"></script>
    <script src="/node_modules/lodash/dist/lodash.min.js"></script>
    <script src="/node_modules/lodash/dist/lodash.underscore.min.js"></script>
    <script src="/node_modules/moment/dist/moment.min.js"></script>
    <script src="/node_modules/react/dist/react-with-addons.min.js"></script>
    <script src="/node_modules/react/dist/react.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/bootstrap/docs/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/jquery/dist/cdn/jquery-2.1.1.min.js"></script>
    <script src="/linker/js/common.js"></script>
    <script src="/js/dashboard.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
