.wrapper{
	padding:10px;
}
#navigation {
	background: linear-gradient(#CC042F , #840000);
	h1{
		color:#FFFFFF;
		font-size:14px;
		font-weight:bold;
		margin:0;
	}
}

#assets-container{
  #asset-wrapper{
    height:610px;
    border-bottom:1px solid #CCCCCC;
    #player-container{
      margin-bottom:10px;
    }
    #info-container{
      label{
      }
      #message-bus{
        height:247px;
        overflow-y: scroll;
        border: 1px solid #C0C0C0;
        padding:5px;
      }
    }
  }
}

#pagination{
    text-align: center;
    .pager{
      padding:0 5px;
      margin:10px;
      text-align: center;
      &.active{
        background: linear-gradient(#CC042F , #840000);
        color:#FFFFFF;
      }
      &:hover{
        background: linear-gradient(#840000, #CC042F);
        color:#FFFFFF;
      }
    }
  }

