<div data-asset-id="{{embed_code}}" id="asset-wrapper">
	<div class="player-container col-sm-8">
		<div id="{{embed_code}}" class="video-wrapper"></div>
	</div>
	<div id="info-container" class="col-sm-4 form-horizontal">
		<div class="row form-group">
			<label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
			 <input type="text" name="name" value="{{name}}" class="form-control" placeholder="Name">
      </div>
		</div>
		<div class="row form-group">
				<label class="col-sm-3 control-label">Description</label>
        <div class="col-sm-9">
				  <textarea name="description" class="form-control" placeholder="Description">{{description}}</textarea>
        </div>
		</div>
    <div class="row form-group">
        <label class="col-sm-3 control-label">Duration</label>
        <div class="col-sm-9">
          <p class="form-control-static" id="player-duration"></p>
        </div>
    </div>
    <div class="row">
      <label class="col-sm-3 control-label">State</label>
      <div class="col-sm-9">
        <p class="form-control-static" id="player-state"></p>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-sm-3 control-label">Embed Code</label>
      <div class="col-sm-6">
        <input type="text" name="embed_code" class="form-control no-padding" placeholder="Click button to generate embed code">
      </div>
      <div class="col-sm-3">
        <button class="btn btn-primary" id="get-embed-code">Generate</button>
      </div>

    </div>
		<div class="row">
			<button class="btn btn-primary btn-update">Update</button>
		</div>
		<div class="row">
			<h3>Events</h3>
			<div id="message-bus"></div>
		</div>
	</div>
</div>
